header{
    background-color: #313243;
    /* height: 80px; */
    width: 1200px;
    margin: auto;
     /* border-bottom: 5px solid #04B155;  */
}
body{
    font-size: 12px;
}
.ama-navbar{
    background-color: #c3c3c6;
    
}
footer{
    background-color:   #c3c3c6;
    height: 80px;
    width: 1200px;
    margin: auto;
    /* border-top: 5px solid #04B155; */
}
.container{
    background-color: #030734;
    margin: auto;
    height: calc(100vh - 160px);
    width: 1200px;

}
 h4{
    color: #c3c3c6;;
 
    
} 

p{
    text-align: center;
    
    font-size: 15PX;
    color: #030734;
    
}
.ama-col{
    background-color: #c4e9e6;
    height: calc(100vh - 160px);
}

.m{
    background-color: #ffdadf;
}


.ama-btn{
    margin-top: 1rem;
    
}


/* ------------------------- */
.ama-img{
    width: 90%;
    object-fit: contain;
    margin-top: 3rem;
}

.ama-logo{
    width: 10%;
}